table{
    margin: 20px 0 40px;
  }
  
  thead{
  background: #555555;
  color:white;
  font-weight: bold;
  }
  
  td, th {
  border: 1px solid #000000;
  padding: 8px 15px;
  }

 .coisa {
    background-color: red;
 }

 .coisa2 {
    background-color: blue;
 }

 .coisa3 {
    background-color: green;
 }

 .coisa4 {
    background-color: yellow;
 }

 .coisa5 {
    background-color: purple;
 }